index.html
*.d.ts
global.d.ts
packages/**/*.d.ts
vite.config.ts
packages/**/dist/*
packages/**/.eslintrc
packages/**/test/*
packages/cloud/wxcloud.config.js
project.config.json
project.private.config.json