/* stylelint-disable */
@font-face {
  font-family: 'iconfont'; /* Project id 3819662 */
  src: url('//at.alicdn.com/t/c/font_3819662_ut5t733q5qk.woff2?t=1670682300169') format('woff2'),
    url('//at.alicdn.com/t/c/font_3819662_ut5t733q5qk.woff?t=1670682300169') format('woff'),
    url('//at.alicdn.com/t/c/font_3819662_ut5t733q5qk.ttf?t=1670682300169') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinru:before {
  content: '\e6af';
}

.icon-xinzeng:before {
  content: '\e6c8';
}

.icon-pinglun1:before {
  content: '\100da';
}

.icon-renzheng1:before {
  content: '\100db';
}

.icon-shoucang1:before {
  content: '\100dc';
}

.icon-dingwei2:before {
  content: '\100dd';
}

.icon-xiaoxi1:before {
  content: '\100de';
}

.icon-qitianwuliyoutuihuanhuo:before {
  content: '\e600';
}

.icon-zhengpinbaozhang:before {
  content: '\e601';
}

.icon-bangzhu:before {
  content: '\e8ac';
}

.icon-dingwei:before {
  content: '\e8ae';
}

.icon-pinglun:before {
  content: '\e8b4';
}

.icon-xiaoxizhongxin:before {
  content: '\e8be';
}

.icon-zengjia:before {
  content: '\e8c0';
}

.icon-fasong:before {
  content: '\100cb';
}

.icon-fenxiang:before {
  content: '\100cc';
}

.icon-quan:before {
  content: '\100cd';
}

.icon-qianbao:before {
  content: '\100ce';
}

.icon-renzheng:before {
  content: '\100cf';
}

.icon-shanchu:before {
  content: '\100d0';
}

.icon-lishijilu:before {
  content: '\100d1';
}

.icon-sousuo:before {
  content: '\100d2';
}

.icon-shoucang:before {
  content: '\100d3';
}

.icon-tupian:before {
  content: '\100d4';
}

.icon-dingwei1:before {
  content: '\100d5';
}

.icon-shouji:before {
  content: '\100d6';
}

.icon-xinxi:before {
  content: '\100d7';
}

.icon-xiaoxi:before {
  content: '\100d8';
}

.icon-tianjia:before {
  content: '\100d9';
}
/* stylelint-enable */
